<% title 'Resend confirmation instructions' %>
<body class='bg-dark'>
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Resend confirmation instructions</div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.full_error :confirmation_token %>
          <%= render partial: 'partials/email_field', locals: {f: f, label: false } %>
          <%= f.submit 'Resend confirmation instructions', class: 'btn btn-primary btn-block' %>
        <% end %>
        <div class='text-center mt-3'>
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    </div>
  </div>
</body>