<% title 'Login' %>
<body class="bg-dark login-page">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render partial: 'partials/email_field', locals: {f: f, label: true } %>
          <%= f.input :password, required: false, autofocus: true, placeholder: 'Enter password' %>
          <div class='form-group'><%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %></div>
          <%= f.submit 'Login', class: 'btn btn-primary btn-block' %>
        <% end %>
        <div class='text-center mt-3'>
          <%= render 'devise/shared/links' %>
        </div>
      </div>
    </div>
  </div>
</body>
