<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <%= csrf_meta_tags %>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= yield :title %></title>
  </head>

  <body class='fixed-nav sticky-footer bg-dark" id="page-top"'>
    <%= render partial: 'layouts/sb-admin/navbar' %>
    <!-- Content Wrapper. Contains page content -->
    <div class='content-wrapper'>
      <!-- Content Header (Page header) -->
      <div class="container-fluid">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>

        <h1>
          <%= yield :page_header %>
          <small><%= yield :optional_description %></small>
          <div class="pull-right">
            <%= yield :edit_button %>
            <%= yield :back_button %>
          </div>
        </h1>

        <%= yield %>

        <%= render 'layouts/sb-admin/footer' %>
      </div>
    </div>
    <!-- /.content-wrapper -->
  </body>

  <%= render partial: 'layouts/sb-admin/logout_modal' %>
</html>
