<% title 'Genes' %>
<% page_header 'Genes' %>
<% new_button 'gene' %>

<div class="card">
  <div class="card-header">
    <i class="fas fa-flask"></i> Registered Genes</div>
  <div class="card-body">
    <div class="table-responsive">
      <div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="row">
          <table class="table table-bordered dataTable" cellspacing="0">
            <thead>
            <tr>
              <th>Name</th>
              <th>Sequence</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% @genes.each do |gene| %>
              <tr>
                <td><%= gene.name %></td>
                <td><%= truncated_sequence gene.original_sequence %></td>
                <td class="text-center">
                  <%= show_button_for_index 'gene', gene %>
                  <%= edit_button_for_index 'gene', gene %>
                  <%= destroy_button_for_index 'gene', gene %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<br>